/* working on .nav and its classes */
.navbar-menu{
    float: right;
}

.nav{
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav .list{
    all: unset;
}

.nav .nav-item{
    font-family: 'nav-item-font-family';
    font-weight: 'nav-item-font-weight';
    font-size: 'nav-item-font-size';
    letter-spacing: 'nav-item-letter-spaccing';
    display: 'nav-item-display';
    margin: 'nav-item-margin';
}

.nav .nav-link{
    display: block;
    padding: 0.5rem 1rem;
}

.nav .nav-link:hover{
    color: var(--nav-item-link-hover);
}

/* create new properties */
:root{
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing:  4% ;
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 3rem 0;
    --nav-item-link-hover: var(--color-primary)
}